body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}
body a{
    color: inherit;
    text-decoration: none;
}
.overflow{
    overflow: hidden;
}
button:hover{
    cursor: pointer; 
}
.App{ 
    position: relative;
    min-height: 100vh;
    background-color: #f3f5f7;
    width: 100%;
} 
.dark_themes{
    background-color: #121721;
    color: #fff;
}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-image: url('../src/assets/mobile/bg-pattern-header.svg');
    padding: 0 1rem;
    background-size: cover;
    background-repeat: no-repeat;
}
header .div1{
    position: relative;
    margin: 0;
    padding: 0;
    align-self: center;
}
header .div1 a{
    color: #fff;
    text-decoration: none;
    font-size: 32px;
}
header .div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .div img{
    width: 20px;
    padding: 0;
}

.filter{
    width: 100%;
    position: relative;
    padding: 0 2rem;
    margin: 0;
    margin-top: -1rem;
}
.form{
    background-color: #fff;
    position: relative;
    border-radius: 8px;
    /* padding: 0 1rem; */
    display: flex;
}
.darks_theme{
    background-color: #1d222a;
}
.filter label{
    padding: 1.2rem 10px;
    margin: 0;
    width: 100%;
    overflow: hidden;
    border-right: 1px solid #121721;
}

.filter .lbl .label2 label{
    border-right: 0;
}
.filter input[type="text"]{
    padding: 10px;
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}
.filter .lbl .label1 input{
    border-bottom: 1px solid #19212e;
}
.filter .label{
    display: flex;
    align-items: center;
}
.filter .label .search {
    display: flex;
    align-items: center;
}
.filter .label .search input{
    margin-left: 1.5rem;
    padding: 10px;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    display: flex;
    height: 35px;
    width: 35px;
    justify-content: center;
    background-image: url('../src/assets/desktop/icon-search.svg');
}

.filter .lbl{
    position: relative;
    display: flex;
}
.filter .lbl .label1{
    display: flex;
    align-items: center;
}
.filter .lbl .label2 {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding-right: 12px;
}
.filter .lbl .label2 input[type="submit"]{
    padding: 8px 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #5964E0;
    border-radius: 5px;
    cursor: pointer;
}
.filter .lbl .label2 .checkbox{
    width: 20px;
    height: 20px;
    background-color: #dbd8e0;
    margin-right: 20px;
}

.toggle-switch {
    position: relative;
    width: 52px;
    margin: 0 10px;
    padding: 0;
}
.toggle-switch label{
    display: block;
    width: 100%;
    height: 25px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 ;
    padding: 0;

}
.toggle-switch input{
    position: absolute;
    display: none;
}
.slider{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: .3s;
}

.slider{
    background-color: #fff;
}
.slider::before{
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #5964E0;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: .3s;
}
.toggle-switch input:checked ~ .slider::before{
    background-color: #5964E0;
    left: 28px;
}
.jobs{
    position: relative;
    display: grid;
    margin-top: 2rem;
    width: 100%;
    padding: 2rem;
    color: #19212e;
}

 .btn{
    position: absolute;
    padding: 8px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    background-color: #5964E0;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
}

.job{
    position: relative;
    background-color: #fff;
    color: #19212e;
    padding: 60px 20px 20px;
    display: inline-block;
    line-height: 30px;
    border-radius: 8px;
    margin-bottom: 4rem;
    transform: translate3d(0,100px,0);
    transition:all .3s ease-out;
    opacity: 1;
}
.dark_theme{
    background-color: #1d222a;
    color: #79869b;
}
.dark_theme h4{
    color: #fff;
}
.darks_theme .label .text1, .darks_theme .label1 .text2{
    color: #fff;
}
.job h4, .msg h3{
    columns:#000 ;
}
head{
    color: #afb4f0;
    color: #1d222a;
    color: #7383a0;
    color: #5964E0;
}
.active{
    transform: translate3d(0,0,0);
    opacity: 1;
}

.job .img{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rebeccapurple;
    padding: 10px;
    border-radius: 20px;
    top: -13%;
}
.job .img img{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.job .text{
    margin-bottom: 20px;
}
.job .text p span.msg,.msg_txt .txt p span{
    position: relative;
    background-color: #7383a0;
    display: inline-block;
    width: 5px;
    height: 5px;
    font-size: 42px;
    font-weight: bold;
    bottom: 2px;
    border-radius: 50%;
    margin: 0 10px;
}
.job .region p,.msg .msg_txt .txt .region{
    color: #5964E0;
}

/* Detailed Page */
.job_details{
    position: relative;
    margin: -1rem 0 ;
    padding: 0 2rem 6rem;
    color: #7383a0;
}
.job_details .top{
    position: relative;
    width: 100%;
    margin: 0;
    padding:0 2rem 2rem;
    background: #fff;
    border-radius: 7px;
    text-align: center;
    box-shadow: 2em 2em 5em rgba(0, 0, 0, .1);
    margin-bottom: 2rem;
}
.details{
    position: relative;
}
.details .img{
    position: relative;
    background-color: #121721;
    top: -25px;
    margin-bottom: 1rem;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
}
.details .img img{
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.details .txt{
    margin-bottom: 1rem;
}

.details .txt h2{
    margin-bottom: 1rem;
    font-size: 22px;
} 
.top .btnn button{
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #1545d4;
    background: #dbd8e0;
}
.msg{
    position: relative;
    color: #19212e;
    width: 100%;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 2em 2em 5em rgba(0, 0, 0, .1);
    border-radius: 8px;
    margin-bottom: 2rem;
}
.msg .msg_txt {
    position: relative;
    display: flex;
    flex-direction: column;
}
.msg .msg_txt .txt{
    margin-bottom: 2rem;
    letter-spacing: .4px;
}
.msg .msg_txt .txt h3{
    margin: 1rem 0;
    font-size: 22px;
}
.msg .butn{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
}
.msg .butn button{
    width: 100%;
    padding: 12px;
    outline: none;
    border: none;
    background-color: #5964E0;
    color: #fff;
    border-radius: 8px;
}
.msg .msg_cont p {
    line-height: 25px;
    letter-spacing: .4px;
}
.msg .msg_cont h4{
    margin: 1.5rem 0;
}
.msg ul {
    position: relative;
    padding-left: 1rem;
    padding-top: 1rem;
}
.msg ul:nth-child(odd){
    list-style-type: number;
}
.msg ul li {
    padding-left: 1rem;
    line-height: 25px;
    letter-spacing: .4px;
}
.apply{
    position: relative;background-color: #5964E0;
    margin: 0;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 2em 2em 5em rgba(0, 0, 0, .1);
}
.apply p{
    line-height: 25px;
    letter-spacing: .4px;
    color: #fff;
    font-weight: 500;
}
.apply h4{
    margin: 1.2rem 0;
    color: #fff;
    letter-spacing: 0.8px;
}
.job_details .footer{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.job_details .footer .aside h3{
    color: #121721;
}
.job_details .footer button{
    width: 100%;
    padding: 12px;
    color: #fff;
    background-color: #5964E0;
    border: none;
    outline: none;
    border-radius: 8px;
}
.darkss_theme .top, .darkss_theme .msg, .darkss_theme .footer{
    background-color: #19212e;
    color: #7383a0;
}
.darkss_theme .top h2, .darkss_theme .txt h3, .darkss_theme .msg h4{
    color: #fff;
}

.job_details .footer .aside{
    text-align: left;
}
.darkss_theme .footer .aside h3{
    color: #fff;
}
.job_details .footer .button{
    width: 100%;
}
@media screen and (min-width: 768px) {
    .jobs{
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
    }
    .filter .lbl .label1 input{
        border-bottom: 0;
    }
    .filter .lbl{
        flex: 2;
    }
    .filter .label{
        flex: 1;
    }
    .filter .lbl .label1{
        flex: 1;
    }
    .filter .lbl .label2{
        flex: 1.2;
    }
    .job_details{
        padding: 0 5em 6rem;
        margin: -1rem auto; 
    }
    .job_details .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem 0 0;
        overflow: hidden;
    }

    .top .details{
        position: relative; 
        left: 0;
        display: flex;
        width: 240px;
        height: 120px;
        justify-content: space-between;
        align-items: center;
    }
     .details .img{
        width: 120px;
        height: 120px;
        position: relative;
        left: 0;
        top: 8px;
        bottom: 0;
        background-color: #000;
        overflow: hidden;
        transform: translateX(0);
        border-radius: 0;
    }
    .top .details .img img{
        /* top: 0; */
        bottom: 0;
    }
    .job_details .footer .button{
        width: 150px;
    }
    .job_details .footer{
        padding: 1rem 5em;
    }
    .msg .msg_txt {
        flex-direction: row;
       justify-content: space-between;
       align-items: center;
    }
    .msg .msg_txt .butn{
        width: 150px;
    }
}

@media screen and (min-width: 1000px) {
    header{
        background-image: url('../src/assets/desktop/bg-pattern-header.svg');
        height: 150px;
        padding: 0 7rem;
    }
    .filter{
        padding: 0 7rem;
    }
    .jobs{
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
        padding: 2rem 7rem;
    }
    .filter label{
        padding: 2rem 20px;

    }
    .job_details{
        padding: 0 10em 6rem;
        margin: -1rem auto; 
    }
    .job_details .footer{
        padding: 1rem 10em;
    }
   
   
}
@media screen and (min-width:1200px) {
    .job_details{
        padding: 0 15em 6rem;
        margin: -1rem auto; 
    }
    .job_details .footer{
        padding: 1rem 15em;
    }
}

@media screen and (max-width:768px) {
    .filter label{
        border-right: 0;
    }
    .filter .lbl {
        position: absolute;
        display: block;
        top:100px;
        left: 50%;
        /* background-color: rebeccapurple; */
        background-color: inherit;
        padding: 8px 2px;
        z-index: 10000000;
        width: 100%;
        transform: translateX(-50%);
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 10px 10px 32px rgba(0, 0, 0, .4);
        opacity: 0;
    }
    .filter .show {
        opacity: 1;
    }
    .filter .lbl .label2{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 8px;
        text-align: left;
    }
    .filter .lbl .label2 input{
        width: 100%;
        padding: 22px 12px;
    }
    .filter .lbl .label1 input{
        padding: 20px;
      
    }
    .filter .label .search button{
        position: relative;
        padding: 12px;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: #1545d4;
    }
    .filter .label .search .btn1{
        padding: 10px;
        background-color: transparent;
    }
    .job_details .footer .aside{
        display: none;
    }
  
}
@media screen and (min-width: 768px) {
    .filter .label .search button{
        display: none;
    }
    .filter .label .search .btn1{
        padding: 10px;
        background-color: transparent;
    }
}