body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}
button:hover{
    cursor: pointer; 
}
.App{ 
    position: relative;
    min-height: 100vh;
    background-color: #f3f5f7;
    width: 100%;
} 
.dark_themes{
    background-color: #121721;
    color: #fff;
    
}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-image: url('../src/assets/mobile/bg-pattern-header.svg');
    padding: 0 1rem;
    background-size: cover;
    background-repeat: no-repeat;
}
header .div1{
    position: relative;
    margin: 0;
    padding: 0;
    align-self: center;
}
header .div1 a{
    color: #fff;
    text-decoration: none;
    font-size: 32px;
}
header .div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .div img{
    width: 20px;
    padding: 0;
}

.filter{
    width: 100%;
    position: relative;
    padding: 0 2rem;
    margin: 0;
    margin-top: -1rem;
}
.form{
    background-color: #fff;
    position: relative;
    border-radius: 8px;
    /* padding: 0 1rem; */
    display: flex;
}
.darks_theme{
    background-color: #1d222a;
}
.filter label{
    padding: 1.2rem 10px;
    margin: 0;
    width: 100%;
    overflow: hidden;
    border-right: 1px solid #121721;
}

.filter .lbl .label2 label{
    border-right: 0;
}
.filter input[type="text"]{
    padding: 10px;
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}
.filter .lbl .label1 input{
    border-bottom: 1px solid #19212e;
}
.filter .label{
    display: flex;
    align-items: center;
}
.filter .label .search {
    display: flex;
    align-items: center;
}
.filter .label .search input{
    margin-left: 1.5rem;
    padding: 10px;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    display: flex;
    height: 35px;
    width: 35px;
    justify-content: center;
    background-image: url('../src/assets/desktop/icon-search.svg');
}

.filter .lbl{
    position: relative;
    display: flex;
}
.filter .lbl .label1{
    display: flex;
    align-items: center;
}
.filter .lbl .label2 {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding-right: 12px;
}
.filter .lbl .label2 input[type="submit"]{
    padding: 8px 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #5964E0;
    border-radius: 5px;
    cursor: pointer;
}
.filter .lbl .label2 .checkbox{
    width: 20px;
    height: 20px;
    background-color: #dbd8e0;
    margin-right: 20px;
}

.toggle-switch {
    position: relative;
    width: 52px;
    margin: 0 10px;
    padding: 0;
}
.toggle-switch label{
    display: block;
    width: 100%;
    height: 25px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 ;
    padding: 0;

}
.toggle-switch input{
    position: absolute;
    display: none;
}
.slider{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: .3s;
}

.slider{
    background-color: #fff;
}
.slider::before{
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #5964E0;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: .3s;
}
.toggle-switch input:checked ~ .slider::before{
    background-color: #5964E0;
    left: 28px;
}
.jobs{
    position: relative;
    display: grid;
    margin-top: 2rem;
    width: 100%;
    padding: 2rem;
    color: #19212e;
    z-index: 100000;
}

 .btn{
    position: absolute;
    padding: 8px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    background-color: #5964E0;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
}

.job{
    position: relative;
    background-color: #fff;
    color: #19212e;
    padding: 60px 20px 20px;
    display: inline-block;
    line-height: 30px;
    border-radius: 8px;
    margin-bottom: 4rem;
    transform: translate3d(0,100px,0);
    transition:all .3s ease-out;
    opacity: 1;
}
.dark_theme{
    background-color: #1d222a;
    color: #79869b;
}
.dark_theme h4{
    color: #fff;
}
.darks_theme .label .text1, .darks_theme .label1 .text2{
    color: #fff;
}
.job h4{
    columns:#000 ;
}
head{
    color: #afb4f0;
    color: #1d222a;
    color: #7383a0;
    color: #5964E0;
}
.active{
    transform: translate3d(0,0,0);
    opacity: 1;
}

.job .img{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rebeccapurple;
    padding: 10px;
    border-radius: 20px;
    top: -13%;
}
.job .img img{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.job .text{
    margin-bottom: 20px;
}
.job .text p span{
    position: relative;
    background-color: #7383a0;
    display: inline-block;
    width: 5px;
    height: 5px;
    font-size: 42px;
    font-weight: bold;
    bottom: 2px;
    border-radius: 50%;
    margin: 0 10px;
}
.job .region p{
    color: #5964E0;
}
@media screen and (min-width: 768px) {
    .jobs{
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
    }
    .filter .lbl .label1 input{
        border-bottom: 0;
    }
    .filter .lbl{
        flex: 2;
    }
    .filter .label{
        flex: 1;
    }
    .filter .lbl .label1{
        flex: 1;
    }
    .filter .lbl .label2{
        flex: 1.2;
    }
}

@media screen and (min-width: 1000px) {
    header{
        background-image: url('../src/assets/desktop/bg-pattern-header.svg');
        height: 150px;
        padding: 0 7rem;
    }
    .filter{
        padding: 0 7rem;
    }
    .jobs{
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
        padding: 2rem 7rem;
    }
    .filter label{
        padding: 2rem 20px;

    }
   
}
@media screen and (max-width:768px) {
    .filter label{
        border-right: 0;
    }
    .filter .lbl {
        position: absolute;
        display: block;
        top:100px;
        left: 50%;
        /* background-color: rebeccapurple; */
        background-color: inherit;
        padding: 8px 2px;
        z-index: 10000000;
        width: 100%;
        transform: translateX(-50%);
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 10px 10px 32px rgba(0, 0, 0, .4);
        opacity: 0;
    }
    .filter .show {
        opacity: 1;
    }
    .filter .lbl .label2{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 8px;
        text-align: left;
    }
    .filter .lbl .label2 input{
        width: 100%;
        padding: 22px 12px;
    }
    .filter .lbl .label1 input{
        padding: 20px;
      
    }
    .filter .label .search button{
        position: relative;
        padding: 12px;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: #1545d4;
    }
    .filter .label .search .btn1{
        padding: 10px;
        background-color: transparent;
    }
  
}
@media screen and (min-width: 768px) {
    .filter .label .search button{
        display: none;
    }
    .filter .label .search .btn1{
        padding: 10px;
        background-color: transparent;
    }
}